html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #F3F1F1;
}


nav {
    height: 10vh;
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0;
    color: white;
    display: flex;
    justify-content: flex-end;
    z-index: 999; 
    align-items: center;
}

.normal {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.normal li {
    display: inline-block;
    padding-inline: 2vw;
    font-size: 2vh;
    text-decoration: none;
    position: relative; 
}

.normal li a {
    color: white;
    text-decoration: none;
}

.normal li a:hover{
    color: gray;
}

.normal li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 1px;
    background-color: white;
}


.burger{
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger li{
    display: flex;
    text-decoration: none;
    padding: 4vh;
}

.burger a{
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.cross img{
    width: 8vw;
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
}
.logo{
    border-radius: 50%;
    max-width: 4.5%;
    display: flex;
    align-items: center;
    position: fixed; 
    left: 0.8vw;
}

.burcon {
    height: 10vh;
    width: 5vw;
    display: none;
}

.burcon img{
    width: 8vw;
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
}
nav a {
    color: white; 
    text-decoration: none; 
}
@media (max-width: 768px) {
    .normal .hide, .hmm, .vertical, #rmv{
        display: none;
    }
    header h2{
        padding: 2vw;
    }
    .burcon {
        display: block; 
        height: 10vh;
        width: 12vw;
    }
    .cross img{
        width: 15vw;
        height: 10vh;
        position: absolute;
        top: 0;
        right: 0;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .logo{
        border-radius: 50%;
        max-width: 15vw;
        display: flex;
        align-items: center;
        position: fixed; 
        left: 1.2vw;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F9;
    margin-top: 8vh;
    box-shadow: 0.5vh 0.5vw 4px #dfe2ec;
    width: 100%;
    height: 13vh;
    position: absolute;
}
header h2{
    font-size: 4vh;
}

header .vertical {
    /* margin-left: 2.2vw; */
    margin-inline: 2.2vw;
    width: 1px;
    height: 50px;
    background-color: black; 
}
section{
    margin-top: 1vh;
    min-height: 110vh;
    width: 100%;
}

footer {
    background: linear-gradient(to right,black ,#322F2E );
    position: absolute;
    height: 10vh;
    display: flex;
    align-items: center;
    color: silver;
    width: 100%;
}

footer .name{
    color: white;
    font-size: 4vh;
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

footer .vertical {
    margin-left: 2.2vw;
    width: 1px;
    height: 50px;
    background-color: white; 
}

footer .hmm{
    margin-left: 3vw;
}

